body{
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    color: #242424;
    border-top: 10px solid #242424;
}

h1{

}

p{

}

#MyPhoto{
    background-image: url(images/PhotoMe.JPG);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 40px;
    font-size: 3ems;
    padding-left: 55px;
    margin: 100px 0 25px 0;
}

