body{
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    color: #000000;
    background-color: #ffff;
}

h1{
    font-size: 2.5em;
}
h2{
    font-size: 2em;
  margin-left: 5px;
}
p{
    font-size: 1.2em;
    line-height: 1.5em;
}

#MyPhoto{
    height: 400px;
   
}
#TLOU{
    height: 200px;
    float: left;
    margin-right: 10px;
}

#PartyArt{
    height: 400px;
    width: inherit
}
#MyPhoto{
    float: left;
    margin-right: 20px;
}
.Table{
 background: rgb(161, 161, 161);
}

.nav{
  border-top: 10px solid #242424;
  border-bottom: 10px solid #242424;
  position: sticky;
  top: 0;
  background: #D97826;
  
}
#Contact{
    float: left;
    margin-right: 5px;
    color: #000000;
}

section{
  display: flex;
  background: rgb(161, 161, 161);
}
article{
  background: #575655;
  padding: 20px;
  margin: 20px;
}
